<section class="page section" style="background-image: url('{{ bgImg }}');">
  <div *ngIf="!showItem" class="flex flex-col gap-6">
    <wow-search placeholder="Buscar item" (onValue)="searchItem($event)" />
    <div class="grid grid-cols-3 gap-5">
      <div
        *ngFor="let item of items; let i = index"
        [ngClass]="{ 'fade-in': i >= 0 }"
      >
        <div
          (click)="selectItem(item)"
          class="card hover:cursor-hover hover:shadow-[{{
            getBoxShadowColor(item.rare)
          }}] shadow-3xl"
        >
          <div class="card__icon">
            <img [src]="item.icon" />
          </div>
          <div class="{{ getColorName(item.rare) }}">
            {{ item.name }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showItem">
   <wow-info [(show)]="showItem" [selectedItem]="selectedItem"></wow-info>
  </div>
</section>
