<section
  class="page section gap-4 flex flex-col"
  style="background-image: url('{{ bgImg }}');"
  *ngIf="!isSelected"
>
  <wow-search placeholder="Buscar clase" (onValue)="searchCharacter($event)" />
  <div class="container" [class.show]="showCharacters">
    <div *ngFor="let class of characters" [class.show]="showCharacters">
      <div
        (click)="selectCharacter(class)"
        class="flex cursor-hover shadow-3xl hover:shadow-[{{
          getColorClass(class.className)
        }}] card col-span-1 gap-2 items-center justify-start"
      >
        <img class="class-icon w-20" [src]="class.classIcon" />
        <span class="text-2xl text-[{{ getColorClass(class.className) }}]">
          {{ class.className }}
        </span>
      </div>
    </div>
  </div>
</section>
<section
  class="page section text-white"
  style="background-image: url('{{ bgImg }}');"
  *ngIf="isSelected"
>
  <wow-button width="165px" label="Atras" (click)="goBack()" />
  <p class="my-4">
    Selecciona la especializacion:
  </p>
  <div class="grid grid-cols-3">
    <div class="col-span-1" *ngFor="let spec of selectedCharacter.specializations">
      <div class="flex card w-fit !px-11 items-center justify-center gap-3">
        <img class="w-20 rounded-full" [src]="spec.icon" />
       <span class="text-xl">{{ spec.name }}</span>
      </div>
    </div>
  </div>
</section>
