/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.wow-blue {
  color: #0159B2;
}
.wow-orange {
  color: #D45509;
}
.wow-violet {
  color: #7F2ABB,
}
.wow-green {
  color: #19F003;
}
.wow-gray {
  color: #FAFAFB;
}
.page {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}
.shadow-3xl {
--tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    --tw-shadow-colored: 0 4px 21px 9px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
.align {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section {
  padding: 90px 50px 50px 50px;
}
.custom-cursor {
  cursor: url('/assets/icons/cursor.png'), auto;
}
.not-allowed {
  cursor: not-allowed;
}

