/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.wow-blue {
  color: #0159B2;
}
.wow-orange {
  color: #D45509;
}
.wow-violet {
  color: #7F2ABB,
}
.wow-green {
  color: #19F003;
}
.wow-gray {
  color: #FAFAFB;
}
.page {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.align {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section {
  padding: 90px 50px 50px 50px;
}
